@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?20654527');
  src: url('../font/fontello.eot?20654527#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?20654527') format('woff2'),
       url('../font/fontello.woff?20654527') format('woff'),
       url('../font/fontello.ttf?20654527') format('truetype'),
       url('../font/fontello.svg?20654527#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20654527#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-house-for-rent-colored:before { content: '\e800'; } /* '' */
.icon-house-for-rent-outlined:before { content: '\e801'; } /* '' */
.icon-house-availabl_:before { content: '\e802'; } /* '' */
.icon-house-available-colored:before { content: '\e803'; } /* '' */
.icon-house-available-outlined:before { content: '\e804'; } /* '' */
.icon-house-available-roundet:before { content: '\e805'; } /* '' */
.icon-house-for-rent:before { content: '\e806'; } /* '' */
.icon-house-for-rent-roundet:before { content: '\e807'; } /* '' */
.icon-house-for-sale:before { content: '\e808'; } /* '' */
.icon-house-for-sale-colored:before { content: '\e809'; } /* '' */
.icon-house-for-sale-roundet:before { content: '\e80b'; } /* '' */
.icon-house-not-available:before { content: '\e80c'; } /* '' */
.icon-house-not-available-colored:before { content: '\e80d'; } /* '' */
.icon-house-not-available-outlined:before { content: '\e80e'; } /* '' */
.icon-house-not-available-roundet:before { content: '\e80f'; } /* '' */
.icon-inspection:before { content: '\e810'; } /* '' */
.icon-inspection-colored:before { content: '\e811'; } /* '' */
.icon-inspection-outlined:before { content: '\e812'; } /* '' */
.icon-inspection-roundet:before { content: '\e813'; } /* '' */
.icon-insurance:before { content: '\e814'; } /* '' */
.icon-insurance-colored:before { content: '\e815'; } /* '' */
.icon-insurance-outlined:before { content: '\e816'; } /* '' */
.icon-insurance-roundet:before { content: '\e817'; } /* '' */
.icon-key:before { content: '\e818'; } /* '' */
.icon-key-colored:before { content: '\e819'; } /* '' */
.icon-key-outlined:before { content: '\e81a'; } /* '' */
.icon-key-roundet:before { content: '\e81b'; } /* '' */
.icon-layout:before { content: '\e81c'; } /* '' */
.icon-layout-colored:before { content: '\e81d'; } /* '' */
.icon-layout-outlined:before { content: '\e81e'; } /* '' */
.icon-layout-roundet:before { content: '\e81f'; } /* '' */
.icon-leased:before { content: '\e820'; } /* '' */
.icon-leased-colored:before { content: '\e821'; } /* '' */
.icon-leased-outlined:before { content: '\e822'; } /* '' */
.icon-leased-roundet:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e824'; } /* '' */
.icon-location-colored:before { content: '\e825'; } /* '' */
.icon-location-outlined:before { content: '\e826'; } /* '' */
.icon-location-roundet:before { content: '\e827'; } /* '' */
.icon-mailbox:before { content: '\e828'; } /* '' */
.icon-mailbox-colored:before { content: '\e829'; } /* '' */
.icon-mailbox-outlined:before { content: '\e82a'; } /* '' */
.icon-mailbox-roundet:before { content: '\e82b'; } /* '' */
.icon-mobile-app:before { content: '\e82c'; } /* '' */
.icon-mobile-app-colored:before { content: '\e82d'; } /* '' */
.icon-mobile-app-outlined:before { content: '\e82e'; } /* '' */
.icon-mobile-app-roundet:before { content: '\e82f'; } /* '' */
.icon-money:before { content: '\e830'; } /* '' */
.icon-money-colored:before { content: '\e831'; } /* '' */
.icon-money-outlined:before { content: '\e832'; } /* '' */
.icon-money-roundet:before { content: '\e833'; } /* '' */
.icon-move:before { content: '\e834'; } /* '' */
.icon-move-colored:before { content: '\e835'; } /* '' */
.icon-move-outlined:before { content: '\e836'; } /* '' */
.icon-move-roundet:before { content: '\e837'; } /* '' */
.icon-park:before { content: '\e838'; } /* '' */
.icon-park-colored:before { content: '\e839'; } /* '' */
.icon-park-outlined:before { content: '\e83a'; } /* '' */
.icon-park-roundet:before { content: '\e83b'; } /* '' */
.icon-percent:before { content: '\e83c'; } /* '' */
.icon-percent-colored:before { content: '\e83d'; } /* '' */
.icon-percent-outlined:before { content: '\e83e'; } /* '' */
.icon-percent-roundet:before { content: '\e83f'; } /* '' */
.icon-progress-down-roundet:before { content: '\e840'; } /* '' */
.icon-progress-down:before { content: '\e841'; } /* '' */
.icon-progress-down-colored:before { content: '\e842'; } /* '' */
.icon-progress-down-outlined:before { content: '\e843'; } /* '' */
.icon-progress-up:before { content: '\e844'; } /* '' */
.icon-progress-up-colored:before { content: '\e845'; } /* '' */
.icon-progress-up-outlined:before { content: '\e846'; } /* '' */
.icon-progress-up-roundet:before { content: '\e847'; } /* '' */
.icon-real-estate-agent:before { content: '\e848'; } /* '' */
.icon-real-estate-agent-colored:before { content: '\e849'; } /* '' */
.icon-real-estate-agent-outlined:before { content: '\e84a'; } /* '' */
.icon-rent-sold-out:before { content: '\e84c'; } /* '' */
.icon-residential-area:before { content: '\e84d'; } /* '' */
.icon-residential-area-colored:before { content: '\e84f'; } /* '' */
.icon-residential-area-outlined:before { content: '\e850'; } /* '' */
.icon-search-listings:before { content: '\e851'; } /* '' */
.icon-search-listings-colored:before { content: '\e852'; } /* '' */
.icon-search-listings-outlined:before { content: '\e853'; } /* '' */
.icon-search-listings-roundet:before { content: '\e854'; } /* '' */
.icon-shower:before { content: '\e855'; } /* '' */
.icon-shower-colored:before { content: '\e856'; } /* '' */
.icon-shower-outlined:before { content: '\e857'; } /* '' */
.icon-shower-roundet:before { content: '\e858'; } /* '' */
.icon-sold-out-colored:before { content: '\e859'; } /* '' */
.icon-sold-out-outlined:before { content: '\e85a'; } /* '' */
.icon-sold-out-roundet:before { content: '\e85b'; } /* '' */
.icon-tenant:before { content: '\e85c'; } /* '' */
.icon-tenant-colored:before { content: '\e85d'; } /* '' */
.icon-tenant-outlined:before { content: '\e85e'; } /* '' */
.icon-tenant-roundet:before { content: '\e85f'; } /* '' */
.icon-trucks:before { content: '\e860'; } /* '' */
.icon-trucks-colored:before { content: '\e861'; } /* '' */
.icon-trucks-outlined:before { content: '\e862'; } /* '' */
.icon-trucks-roundet:before { content: '\e863'; } /* '' */
.icon-_alculating:before { content: '\e864'; } /* '' */
.icon-_alculating-colored:before { content: '\e865'; } /* '' */
.icon-_alculating-roundet:before { content: '\e866'; } /* '' */
.icon-animal-house:before { content: '\e867'; } /* '' */
.icon-animal-house-colored:before { content: '\e868'; } /* '' */
.icon-animal-house-outlined:before { content: '\e869'; } /* '' */
.icon-animal-house-roundet:before { content: '\e86a'; } /* '' */
.icon-bathroom:before { content: '\e86b'; } /* '' */
.icon-bathroom-colored:before { content: '\e86c'; } /* '' */
.icon-bathroom-outlined:before { content: '\e86d'; } /* '' */
.icon-bathroom-roundet:before { content: '\e86e'; } /* '' */
.icon-bed:before { content: '\e86f'; } /* '' */
.icon-bed-color:before { content: '\e870'; } /* '' */
.icon-bed-outlined:before { content: '\e871'; } /* '' */
.icon-bed-roundet:before { content: '\e872'; } /* '' */
.icon-buyer:before { content: '\e873'; } /* '' */
.icon-buyer-colored:before { content: '\e874'; } /* '' */
.icon-buyer-outlined:before { content: '\e875'; } /* '' */
.icon-buyer-roundet:before { content: '\e876'; } /* '' */
.icon-calculate-outlined:before { content: '\e877'; } /* '' */
.icon-chair:before { content: '\e878'; } /* '' */
.icon-chair-color:before { content: '\e879'; } /* '' */
.icon-chair-outlined:before { content: '\e87a'; } /* '' */
.icon-chair-roundet:before { content: '\e87b'; } /* '' */
.icon-change-of-housing:before { content: '\e87c'; } /* '' */
.icon-change-of-housing-color:before { content: '\e87d'; } /* '' */
.icon-change-of-housing-outlined:before { content: '\e87e'; } /* '' */
.icon-change-of-housing-roundet:before { content: '\e87f'; } /* '' */
.icon-checking:before { content: '\e880'; } /* '' */
.icon-checking-colored:before { content: '\e881'; } /* '' */
.icon-checking-outlined:before { content: '\e882'; } /* '' */
.icon-checking-roundet:before { content: '\e883'; } /* '' */
.icon-contract:before { content: '\e884'; } /* '' */
.icon-contract-color:before { content: '\e885'; } /* '' */
.icon-contract-outlined:before { content: '\e886'; } /* '' */
.icon-contract-roundet:before { content: '\e887'; } /* '' */
.icon-deal:before { content: '\e888'; } /* '' */
.icon-deal-colored:before { content: '\e889'; } /* '' */
.icon-deal-outlined:before { content: '\e88a'; } /* '' */
.icon-deal-roundet:before { content: '\e88b'; } /* '' */
.icon-dream-house:before { content: '\e88c'; } /* '' */
.icon-dream-house-colored:before { content: '\e88d'; } /* '' */
.icon-dream-house-outlined:before { content: '\e88e'; } /* '' */
.icon-dream-house-roundet:before { content: '\e88f'; } /* '' */
.icon-fence:before { content: '\e890'; } /* '' */
.icon-fence-colored:before { content: '\e891'; } /* '' */
.icon-fence-outlined:before { content: '\e892'; } /* '' */
.icon-fence-roundet:before { content: '\e893'; } /* '' */
.icon-finances:before { content: '\e894'; } /* '' */
.icon-finances-colored:before { content: '\e895'; } /* '' */
.icon-finances-outlined:before { content: '\e896'; } /* '' */
.icon-finances-roundet:before { content: '\e897'; } /* '' */
.icon-garage:before { content: '\e898'; } /* '' */
.icon-garage-colored:before { content: '\e899'; } /* '' */
.icon-garage-outlined:before { content: '\e89a'; } /* '' */
.icon-garage-roundet:before { content: '\e89b'; } /* '' */
.icon-home:before { content: '\e89c'; } /* '' */
.icon-home-colored:before { content: '\e89d'; } /* '' */
.icon-home-outlined:before { content: '\e89e'; } /* '' */
.icon-home-roundet:before { content: '\e89f'; } /* '' */
